html{
    height: 100%;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    vertical-align: middle;
    align-items: center; /* Centrar verticalmente */
    height: 99vh;
}

table{
    border-style: dashed;
    
}
table th{
    background-color: rgb(181, 143, 143);
}
form{
    display: inline-block;
    vertical-align: middle;
}

label{
    font-size: 18px;
    display: block;
    text-align: justify;
}
input{
    display: block;
    margin: 5px 0pc;
}
.btn{
    background-color: rgb(31, 161, 31);
    border-radius: 5px;
    border-style: none;
    color: whitesmoke;
    padding: 0.7pc 2pc;
}